header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    
}

header img {
    margin: 10px;
    padding: 10px;
}

header a {
    text-decoration: none;
    color: white;    
}

body {
    font-family: "Roboto", sans-serif;
}

nav {
    font-size: 25px;
    align-items: center;
    display: flex;
}

header li {
    list-style: none;
}

.anav {
    margin: 0px 40px 0px 0px;  
}

.anav:hover {
    text-decoration: underline;
}

.snav {
    margin: 0px 40px 0px 0px;
}

.snav:hover {
    text-decoration: underline;
}

.dnav {
    margin: 0px 40px 0px 0px;
}

.dnav:hover {
    text-decoration: underline;
}

.fnav {
    margin: 0px 40px 0px 0px;
}

.fnav:hover {
    text-decoration: underline;
}

.gnav {
    margin: 0px 40px 0px 0px;
}

.gnav:hover {
    text-decoration: underline;
}

.main img {
    text-align: center;
}

.main h1 {
    text-align: center;
}

.main p {
    text-align: center;
}

.HObomne {
    text-align: center;
    font-size: 25px;
    background-color: #43045C;
    color: white;
    padding: 1px;
}

.MObomne {
    display: flex;
    font-size: 30px;
}

.MObomne img {
    width: 700px;
    margin: 50px 50px 0px 200px;
}

.Fp {
    padding: 95px 0px 0px 0px;
}

.TObomne p {
    margin: 20px 0px 0px 50px;
}

.HPocm {
    font-size: 25px;
    text-align: center;
    color: white;
    background-color: #43045C;
    padding: 1px;
    margin: 40px 0px 0px 0px;
}

.MPocm {
    display: flex;
}

.TPocm {
    font-size: 30px;
    margin: 20px 100px 0px 50px;
}

.IPocm {
    margin: 50px 50px 0px 0px;
}

.HUsl {
    text-align: center;
    color: white;
    background-color: #43045C;
    padding: 1px;
    font-size: 25px;
    margin-top: 40px;
}

.MUsl {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.MUsl div {
    padding-right: 20px;
    padding-left: 20px;
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: #EFEFEF;
    width: 350px;
    margin-top: 20px;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

.MUsl img {
    border: 2px #43045C solid;
}

.HMprj {
    text-align: center;
    font-size: 25px;
    background-color: #43045C;
    color: white;
    padding: 1px;
}

.MMprj {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.MMprj div {
    padding-right: 20px;
    padding-left: 20px;
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: #EFEFEF;
    width: 350px;
    margin-top: 20px;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

.MMprj button {
    width: 250px;
    height: 40px;
    margin-bottom: 20px;
    background-color: white;
    border: #43045C 2px solid;
}

.MMprj img {
    border: #43045C 2px solid;
}

.MMprj button:hover {
    background-color: #43045c2d;
}

.HCon {
    text-align: center;
    font-size: 25px;
    background-color: #43045C;
    color: white;
    padding: 1px;
}

.Tcon {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
}

.Tcon h1 {
    font-size: 50px;
}

.Tcon p {
    color: #696969;
    font-size: 20px;
}

.Icon {
    text-align: center;
}

.Icon input {
    padding-left: 20px;
    margin-left: 15px;
    margin-top: 70px;
    width: 300px;
    height: 50px;
    border: #43045C 1px solid;
    margin-bottom: 120px;
}

#bs {
    padding-right: 20px;
    height: 55px;
    background-color: #43045cc0;
}

.Icon select {
    padding-left: 20px;
    margin-left: 15px;
    width: 300px;
    height: 55px;
    border: #43045C 1px solid;
}

#bs:hover {
    background-color: #43045c94;
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: black;
    align-items: center;
}

#Ve {
    margin: 10px;
    padding: 10px;
}

.Ficons img {
    margin-left: 10px;
}

.Ftext {
    color: white;
    font-size: 25px;
    margin-right: 65px;
}

#Ffi {
    margin-left: 200px;
}

#fb {
    width: 200px;
    font-size: 15px;
    display: inline-block;
    padding: 10px 15px;
    background: #ffffff;
    border: 1px solid #43045C;
    color: black;
    text-decoration: none;
    text-align: center;
}

#tb {
    width: 200px;
    font-size: 15px;
    display: inline-block;
    padding: 10px 15px;
    background: #ffffff;
    border: 1px solid #43045C;
    color: black;
    text-decoration: none;
    text-align: center;
}

#sb {
    width: 200px;
    font-size: 15px;
    display: inline-block;
    padding: 10px 15px;
    background: #ffffff;
    border: 1px solid #43045C;
    color: black;
    text-decoration: none;
    text-align: center;
    margin-bottom: 10px;
}

#fb:hover {
    background: #43045c31;
}

#tb:hover {
    background: #43045c31;
}

#sb:hover {
    background: #43045c31;
}